.wrapper {
  position: fixed;
  bottom: 2rem;
  right: 8%;
  padding: 1rem 2rem;
  width: 20rem;
  max-width: calc(100% - 4rem - 8%);
  background: rgba(var(--color-grey-rgb), 0.6);
  border-radius: 1rem;

  animation: changeTransparency 0.7s ease;
}

@keyframes changeTransparency {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.count {
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  span {
    opacity: 0.7;
    margin-right: 0.25rem;
  }
}

.buttonsRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}